# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
*.exe
*.log
.env
.venv/
venv/
*.sqlite3
.DS_Store
ObciazenieApp/
ObciazenieApp.exe
scalanie_group_name.csv
*.parquet
.install/
installers/portable/
*.spec
